.block {
  display: inline-block;
  border: 1px solid blue;
  margin: 2px;
  width: 100%;
  height: 100px;
    font-size: 2em;
}

.wrapper {
  display: flex;
    font-size: 1.3vw;
    height: auto;
    font-family: 'Arial';
    color:gold;
}



.div_variant {
    display: flex;
    border: 1px solid blue;
    height: auto;
    text-align: center;
    #vertical-align: middle;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    
    
    
    
}

.block2 {
  display: inline-block;
  border: 1px solid blue;
  margin: 2px;
  width: 100%;
  #height: 100px;
  font-size: 20px;
}

header
{
    height: 100px;
}

body
{    
    #background-image: linear-gradient(to bottom,rgba(255, 255, 0, 0.5),rgba(0, 0, 255, 0.5)), url("catfront.png");
    background-image: url("1579.jpg");
    background-repeat: repeat;
    background-color: #cccccc;
    text-shadow: 1px 1px 2px black;
    
}
.header_text
{
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 30px;
}

button
{
    font-size: 20px;
    font-family:fantasy;
    
}

.aside_links {
    padding-top: 100px;
}



td {
    border: 5px solid;
    border-color: black;
    height: 55px;
    font-size: 2.5vw;
    font-family: sans-serif;
    color: limegreen;
    text-align: center;
}

table {
    width: 100%;
}

body {
    background-image: url('fon_blue.jpg');
}



.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}